In [3]:
import xml.etree.ElementTree as ET
import pandas as pd

In [14]:
tree = ET.parse('../data/PointzAggregator-AirlinesData.xml')

In [16]:
root = tree.getroot()

In [26]:
columns = ['uid', 'first_name', 'last_name', 'cards_type', 'card_number', 'bonusprogram', 'code', 'date', 'departure', 'arrival', 'fare']

In [22]:
data = []

users = root.findall('user')

index = 0
for user in users:
    uid = first = last = type = number = bonusprogramm = None
    uid  = user.get('uid')
    name = user.find('name')
    if name is not None:
        first = name.get('first')
        last  = name.get('last')
        
    cards = user.find('cards')
    if cards is not None:
        type = cards.get('type')
        
        card = cards.find('card')
        if card is not None:
            number = card.get('number')

            bonusprogramm_element = card.find('bonusprogramm')
            if bonusprogramm_element is not None:
                bonusprogramm = bonusprogramm_element.text

            activities = card.find('activities')
            if (activities is not None):
                for activity in activities.findall('activity'):
                    code = date = departure = arrival = fare = None
                    
                    code_element = activity.find('Code')
                    if (code_element is not None):
                        code = code_element.text
                        
                    date_element = activity.find('Date')
                    if (date_element is not None):
                        date = date_element.text

                    departure_element = activity.find('Departure')
                    if (departure_element is not None):
                        departure = departure_element.text

                    arrival_element = activity.find('Arrival')
                    if (arrival_element is not None):
                        arrival = arrival_element.text

                    fare_element = activity.find('Fare')
                    if (fare_element is not None):
                        fare = fare_element.text

                    data.append([uid, first, last, type, number, bonusprogramm, code, date, departure, arrival, fare])

In [35]:
df = pd.DataFrame(data, columns=columns)

In [39]:
df.to_csv('../data/PointzAggregator-AirlinesData.csv', index_label='id')

In [37]:
df

,uid,first_name,last_name,cards_type,card_number,bonusprogram,code,date,departure,arrival,fare
0,613142142,IAROMIR,ZVEREV,Airlines,FB 171388778,Flying Blue,KE827,2017-08-06,rea,SZX,YGRPZT
1,613142142,IAROMIR,ZVEREV,Airlines,FB 171388778,Flying Blue,MU9706,2017-10-26,PEK,BSD,YSTNYV
2,103197717,VITALINA,KOROVINA,Airlines,KE 696768759,Korean Air SKYPASS,DL5058,2017-09-11,CHA,ATL,YRSTKY
3,103197717,VITALINA,KOROVINA,Airlines,KE 696768759,Korean Air SKYPASS,KE1,2017-04-01,rea,HNL,PRSTRU
4,103197717,VITALINA,KOROVINA,Airlines,KE 696768759,Korean Air SKYPASS,DL837,2017-09-13,ATL,HNL,YGRPNG
...,...,...,...,...,...,...,...,...,...,...,...
280815,293103570,EMIL,KAZAKOV,Airlines,KE 637084941,Korean Air SKYPASS,UX3291,2017-05-01,SVO,AGP,YFLXRJ
280816,293103570,EMIL,KAZAKOV,Airlines,KE 637084941,Korean Air SKYPASS,AR2805,2017-11-28,FTE,AEP,YFLXMR
280817,293103570,EMIL,KAZAKOV,Airlines,KE 637084941,Korean Air SKYPASS,SU6401,2017-02-14,LED,SVX,YFLXZR
280818,265781820,UL'YANA,KONONOVA,Airlines,DT 302785701,Delta SkyMiles,GA502,2017-05-12,CGK,PNK,YFLXAU
280819,265781820,UL'YANA,KONONOVA,Airlines,DT 302785701,Delta SkyMiles,GA88,2017-08-02,CGK,AMS,YRSTQC